* {
  font-family: 'raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'oxygen', sans-serif;
}

h3, h4 {
  font-weight: bold;
}

main {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.navbar, .navbar-light {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 95%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  font-size: 1.05em;
}

/* Creates a border that expands from the center on hover */

.nav-link::after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(2, 113, 187);  
  transform: scaleX(0);  
  transition: transform 400ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1); 
}

#about {
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient( to bottom, rgba(26, 126, 193, .75), rgba(101, 169, 215, 0.301)), url('./imgs/port.jpg'); 
  background-image: -webkit-linear-gradient( bottom, rgba(26, 126, 193, .75), rgba(101, 169, 215, 0.301)), url('./imgs/port.jpg'); 
  background-image: linear-gradient( to bottom, rgba(26, 126, 193, .75), rgba(101, 169, 215, 0.301)), url('./imgs/port.jpg');
  filter: contrast(1.7);
  text-shadow: 1px 2px 4px black;
  color: white;
  height: 100vh;
}

#drayage {
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  background-size: cover;  
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(to bottom, rgba(26, 126, 193, .95), rgba(101, 169, 215, 0.6)), url('./imgs/loading.jpg');
  background-image: -webkit-linear-gradient(to bottom, rgba(26, 126, 193, .95), rgba(101, 169, 215, 0.6)), url('./imgs/loading.jpg');
  background-image: linear-gradient(to bottom, rgba(26, 126, 193, .95), rgba(101, 169, 215, 0.6)), url('./imgs/loading.jpg');
  
  color: white;
  text-shadow: 1px 2px 4px black;
  height: 100vh;
}

#drayage a {
  color: #ffeb00;
}

#contact {
  color: white;
  background: rgb(122,188,255);
  background: -moz-linear-gradient(to right, rgb(2, 113, 187) 0%,rgb(80, 156, 208) 60%,rgb(14, 119, 187) 100%); 
  background: -webkit-linear-gradient(to right, rgb(2, 113, 187) 0%,rgb(80, 156, 208) 60%,rgb(14, 119, 187) 100%); 
  background: linear-gradient(to bottom right, rgb(2, 113, 187) 0%,rgb(80, 156, 208) 60%,rgb(14, 119, 187) 100%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 );
  height: 100%;
}

#repositioning, #opportunities{
  height: 100vh;
  box-shadow: 0px 0px 15px 0px #222222;
}

#repositioning {
  background-image: linear-gradient(to top right, rgba(128, 128, 128, .75), rgba(0, 76, 138, .75)), url('./imgs/containers.jpg');
  background-image: -webkit-linear-gradient(to top right, rgba(128, 128, 128, .75), rgba(0, 76, 138, .75)), url('./imgs/containers.jpg');
  background-image: -moz-linear-gradient(to top right, rgba(128, 128, 128, .75), rgba(0, 76, 138, .75)), url('./imgs/containers.jpg');
  background-size: cover;
  filter: contrast(1.9);
  color: white;
  text-shadow: 1px 1px 1.5px black;
}

#repositioning fieldset {
  border: 4px ridge white;
}

#opportunities {
  background-image: url('./imgs/truck2.png');
  background-size: cover;
  filter: contrast(.7);
}

input {
  text-align: center;
}

.title {
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
  margin-bottom: 80px;
  font-size: 2.5em;
}

.name {
  padding-top: 30px;
}

.about-info {
  max-width: 50%;
}

.experts {
  text-align: center;
  font-size: 20pt;
  padding: 60px;
}

.experts a {
  font-size: 20pt;
}

.experts .btn {
  background-color: rgba(255,255,255,.5);
  color: black;
  border: white;
  transition: background-color .75s;
  transition: color .4s;
  padding: 8px 20px;
  text-shadow: none;
}

.experts .btn:hover {
  background-color: rgba(255,255,255,.8);
  color: #007bff;
}

.opportunities {
  text-shadow: 1px 1px 4px white;
}

.content-section {
  padding: 100px 20px 0 20px;
}

.repositioning-type, #repositioning p {
  padding: 10px 20px;
}

.text-center {
  text-align: center;
}

.new-carrier {
  padding: 0 0 0 40px;
  max-width: 70%;
}

.packet {
  cursor: pointer;
  font-size: 2em;
}

.packet-return {
  padding: 0px 175px 0px 0px;
}

.download {
  color: #007bff;
}

.download:hover {
  color: #5600ff;
}

legend {
  padding-left: 5px;
  padding-right: 5px;
}

.repo-legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.repositioning-intro { 
  text-shadow: 2px 2px 4px black;
}

.contact-info {
  font-size: 1.5em;
}

.contact-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.space {
  margin-right: 10px;
}

.contact-sub {
  display: inline;
}

.address {
  width: 100%;
}

#form input, textarea {
  width: 100%;
  background: #4e4e4e;
  border: none;
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}

#form ::placeholder {
  color: rgba(255, 255, 255, .7);
}

#form ::-moz-placeholder {
  color: rgba(255, 255, 255, .7);
}

#form :-ms-input-placeholder {
  color: rgba(255, 255, 255, .7);
}

#form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .7);
}


#form button {
  background: #4e4e4e;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 1.5em;
  cursor: pointer;
}

#form button:hover {
  color: #c8def2;
}

footer p{
  font-size: 9pt;
  margin-bottom: 0;
}

.content-section {
  padding: 100px 20px 40px 20px;
}

@media (min-width: 300px) and (max-width: 1024px) {
  #about, #repositioning, #drayage, #opportunities, #contact {
    height: 100%;
  }

  .title {
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    margin-bottom: 30px;
    font-size: 1.8em;
  }

  .about-info {
    max-width: 100%;
  }

  .new-carrier {
    max-width: 100%;
    padding: 0;
  }

  .packet {
    font-size: 1.3em;
  }

  .packet-return {
    padding: 0;
  }

  .experts a {
    font-size: 14pt;
  }

  h4, h3 {
    font-size: 1.3rem;
  }

  .repositioning-type, {
    padding: 10px;
  }

  p, ul, .contact-info, #form input, textarea   {
    font-size: 11pt;
  }

  .contact-info {
    margin-bottom: 25px;
  }

  #repositioning p  {
    padding: 0;
  }

  .opportunities {
    text-shadow: 1px 1px 4px white;
  }

}
@media (min-height: 300px) and (max-height: 825px) {
  #about, #repositioning, #drayage, #opportunities, #contact {
    height: 100%;
  }
}